:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main {
  background-color: rgb(113, 171, 171);
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;

}

/* .main-input {
  margin: 10px 0 40px 0;
} */

.note-item {
  flex: 0 0 200px;
  min-height: 150px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.note-item:hover {
  transform: translateY(-5px);
}

.note-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  word-break: break-word;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}